<p>Merhaba <%= @email %>!</p>

<p>Aşağıdaki bağlantıya tıklayarak hesabını aktive edebilirsin:</p>

<p><%= link_to 'Hesabımı aktive et', confirmation_url(@resource, :confirmation_token => @token) %></p>
