<p>Merhaba <%= @resource.email %>!</p>

<p>Aşağıdaki linke tıklayarak yeni şifre oluşturabilirsiniz:</p>

<p><%= link_to 'Şifremi değiştir', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Yeni şifre talep eden siz değilseniz, bu e-posta'yı yok sayabilirsiniz.</p>
<p>Siz yukarıdaki linke tıkayıp yeni şifre oluşturuncaya kadar şifreniz değiştirilmeyecektir.</p>
