<p>Merhaba <%= @resource.email %>!</p>

<p>Çok sayıda başarısız giriş denemesi yüzünden hesabınız kilitlenmiştir.</p>

<p>Kilidi açmak için lütfen aşağıdaki bağlantıya tıklayınız:</p>

<p><%= link_to 'Kilidi aç', unlock_url(@resource, :unlock_token => @token) %></p>
